.footer {
    padding: 1.25rem 1.6rem;
    border-top: 1px solid var(--color-neutral-separator-subtle);
}

.container {
    max-width: calc(var(--max-layout-width) - var(--ifm-spacing-horizontal) * 2);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    display: block;
    height: 22px;
    width: auto;
    opacity: 0.4;
    transition: opacity .15s ease;
}

.logoLink {
    display: inline-flex;
    align-items: center;
}

.logoLink:hover .logo {
    opacity: 0.8;
}

.social {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.social a {
    color: var(--ifm-color-emphasis-500);
    display: inline-flex;
    transition: color .15s ease;
}

.social a:hover {
    color: var(--ifm-color-primary);
}
