@media (min-width: 768px) {
    .collapseSidebarButton {
        top: 0;
        right: 0;
        bottom: 0;
        display: flex !important;
        align-items: flex-end;
        justify-content: right;
        color: var(--ifm-menu-color) !important;
        height: 40px;
        position: sticky;
        border-radius: 0;
        border: 0px;
    }

    .collapseSidebarButtonIcon {
        margin-top: 4px;
    }

    .collapseSidebarButton:hover,
    .collapseSidebarButton:focus {
        background-color: var(--ifm-navbar-background-color);
    }
}

.collapseSidebarButton {
    display: none;
    margin: 0;
}